<!DOCTYPE html>
<html lang="en" ng-app="foreverFighter">
<head>
	<meta charset="UTF-8">
	<title>Foever Fighter</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
   		body { background: pink; }
	</style>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/app.js"></script>
</head>


<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
    	 <a class="navbar-brand" href="#/home">Forever Fighter</a>
    	</div>
    <ul class="nav navbar-nav">
    <li><a href="#/cast">Cast</a></li>
    <li><a href="#/updates">Updates</a></li>
    <li><a href="#/about">About Me</a></li>
    <li><a href="#/contact">Contact</a></li>
</ul>
</div>
</nav>

<body>
      	<ui-view></ui-view>
</body>

<script type="text/ng-template" id="/home.html">

<h3 class="text-right" style="margin-right: 100px"> Production status: <b>Pre-Production</b> </h3>
 <div class="container vertical-center">
 <div class="jumbotron jumbotron-front" >
 <h2 class="text-center">The official site of <h2>
  <div class="panel-body text-center" style="background-color: pink">
    <h1><br><b><FONT FACE="Lucida Console"><big>FOREVER<br>FIGHTER</big></FONT></b><br><br><br><br><br></h1>
    <h3><i>"In life you can fight forever, but you can't live forever. One is a choice and the other is a guarantee"</i><h3>
</div>
         <br>
       <p class="text-center"><a class="btn btn-primary btn-lg text-center" style="color: #2BDE73">
    <img src="/images/kickstarter-logo.png" width="30" height="30"/>
    Click for Donation Pledges</a></p>
 </div>
 </div>
 </div>
</script>

<script type="text/ng-template" id="/updates.html">
	<div class="jumbotron text-center">
		<h1>{{text}}</h1>
	</div>	
</script>

<script type="text/ng-template" id="/about.html">
<h1 class="text-center">About the Writer/Producer</h1>
<div class="jumbotron text-left">
<div class="row">
<div class="span4">
<img class="imagetab" style="float:left" src="/images/large 90 pic.jpg"/>
  <p class="tab para">Hi, my name is Johnny Rayne, born Andi Hangiu (Hang-you) on August 24th, 1985 in Cluj-Napoca (CLU-jh NApoca), Romania. I Came to the United States on July 24th, 1995. I was raised all my life in Washington State and been around the world, but there is no place like my evergreen home. I wanted to be an Aerospace Engineer, but life had other plans. </p> <br>
<p class="tab para">As a child I always wanted to be an actor, a storyteller. As one grows up one learns that we must do what all adults do and get a real job, so why not an engineer. I like math, physics, and flying so Aerospace seemed logical to me. I was trying to go to school at W.S.U. (Washington State University). I had all my paperwork filled out, but then an Art College came to my school. Cornish College of the Arts was doing a tour of all the high schools in our area and wanted to let all the students know that if you were interested in the Arts they had a free tour on this day, blah, blah, blah. I thought nothing of it. I was not asked what I wanted to be since I was about 7, but we all get older and must choose something adult to do.  </p> <br>
<p class="tab para">When my mom heard of this opportunity she said, “You should apply and go to the audition and see if you can get in”. I told her, “NO”, and that, “Being an actor was stupid and dumb”. She asked me, “Do you remember telling everyone that I wanted to be an actor when I was a kid?” I said, “Yes, but it’s not the adult thing to do and that only rich people can be actors because they can afford it”. She then said, “Go and give it a try and if you fail, then you know it wasn’t meant to be”. I went to my drama teacher and I asked him to help me. The only reason I took drama was because it was an easy arts elective for me as well an easy English credit. He thought I was crazy because I had not done any acting of any kind prior to asking him for this. He was nice enough to help me and wished me luck.</p>  <br>
<p class="tab para">I went to my audition nervous as hell.  To tell you the truth, I was beginning to think I was crazy. To make matters worse I went to the wrong address and I was thirty minutes late. Yeah, I missed the entire opening presentation.  When I got there they were taking people in for the audition. As you guess it, I went last, penalty for being late. Two things you never want to be in life - crazy and late, and I was both…. So my audition, well that was a quickie, as a matter of fact, they had to change the format for me. I spoke so fast through both of my monologues that the people auditioning me were left speechless. It was ironic because one the people auditioning me would later be one my speech teachers.</p>  <br>
<p class="tab para">I got in, in case you missed it. They did change the format for me and they had me redo one of my monologues.  They gave me a note to apply, or in acting terms, they gave me direction. Acting is simply reacting to a given circumstance.  Most people just get up and recite their memorized lines with vocal intensity. WRONG!! That’s not acting, that’s just talking loudly. Actors must take direction and respond to a given circumstance. One is sometimes chosen by the director if the actor doesn’t present a good character choice. Think about it, what would you do if you were late to something? You would certainly not talk loudly; you would behave apologetically, talk softly and ask to be forgiven. </p>  <br>
<p class="tab para">Getting into the art school and pursuing my dream to be an actor has been one of the greatest journeys in my life. I don’t know if I would have been as happy as I am now being an Engineer. I certainly would have liked the money, sure, who doesn’t like money, but being happy? I can’t answer that with a yes. I learned a lot in as well as after college about storytelling from an actor, writer and directing stand point. Now it’s on to producing and putting all that I learned together into this film. Being a producer means I have to handle money and the business side of filmmaking. Like I said before, I was very good at math and I did want to be an Engineer. I’m going to, simply put, engineer this film to be made. </p> 
</div>
</div>
</div>	


</div>
</script>

</html>
