.tab { margin-left: 20px;
		margin-right: 20px; }

.imagetab { margin-left: 40px;
			margin-right: 40px;}

.para {
	text-indent: 40px;
}

.jumbotron {
	margin-left: 30px;
	margin-right: 30px;
	position: absolute;
}


html {font-size: 90%;}

div.px-font {
  font-size: 110px;
}

@media (min-width: @screen-sm-min) {
    .main-row { 
        position: relative; 
    }
    .ribbon { 
        position: absolute;
        top: 80px;
    }
    .ribbon.left { left: 100px; }
    .ribbon.right { right: 100px; }
    .ribbon img {
        /* Resize your images here to fit as you'd like them. */
        height: 300px;
        width: 400px; 
    }