.tab { margin-left: 20px;
		margin-right: 20px; }

.imagetab { margin-left: 40px;
			margin-right: 40px;}

.para {
	text-indent: 40px;
}

.jumbotron {
	margin-left: 30px;
	margin-right: 30px;
    position: relative;
    background: #000 url("/images/polygon-pattern.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-body {
	margin-left: 125px;
	margin-right: 125px;
	word-wrap:break-word;
}

div.px-font {
  font-size: 110px;
}

@media (min-width: @screen-sm-min) {
    .main-row { 
        position: relative; 
    }
    div.px-font {
    	font-size: 50px;
    }
    .ribbon { 
        position: absolute;
        top: 80px;
    }
    .ribbon.left { left: 100px; }
    .ribbon.right { right: 100px; }
    .ribbon img {
        /* Resize your images here to fit as you'd like them. */
        height: 300px;
        width: 400px; 
    }